@page
@model Personal_Website.Pages.Index1Model
@{
}


<p> 
    
 Hello, 
        It's always difficult to summarize one's entirety briefly and informatively. 

        My name is John Smith, yes I am aware I share a name with a disney character in the movie Pocahontas. 
        I own my house in Wyandotte where I live with my two cats, Big head and Little head.
        Often the center point of social gatherings, my hobbies are usually a surprise to most. 
        I'm a big nerd and you'll find me enjoying any "Nerd Content". Comics, Video Games, Dungeons and Dragons. 
        When I do get out of the house, it's usually a lovely date that my girlfriend Meghan has planned for us. 
    
 You can reach me via the methods listed below. 
 Thanks!

 Cell: 734-486-2009
 Email: ReallyJohnSmith21@gmail.com 
 Letter: Please don't. 
 Carrier Pigeon: My cats will intercept the message. 
    
    
</p>