@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<b></b>
<body>>
    <p>
        Hello, 
        
        For the past two years I have been working as a Refinance Mortgage Banker at the largest mortgage lender in the nation, Rocket Mortgage. 
        Excelling in a high-paced, solution focused industry where every person I talk to has a unique problem that needs to be solved has made me an incredibly effecient worker. 



        My 5 years of sales experience translates directly to effective communication skills. 
        Regardless if I am communicating solutions to co-workers, new ideas to management, or processes to clients. Information is delivered clearly and charismatically. 





    </p>






</body>





<!--found this for header/footer-->

<html>
<head>
<title></title>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script> 
</head>
<body>
<div id="header"></div>
<!--Remaining section-->
<div id="footer"></div>
</body>
</html>





<!--    
Create at least 3 pages: home.html, about.html, and portfolio.html.
Your homepage should include 2-4 sections about you. For example: the first section focuses on blogging, the second focuses on developing, and the third focuses on your hometown.
Include a header with navigation as well as a footer for all pages.
Include links like LinkedIn and other professional social media.
Your Portfolio page should include a description and link to projects you want to highlight.
Your About page should include your bio and a way for visitors/employers to contact you.
-->

<a href="AboutMe">Link to AboutMe page </a>
<a href="Portfolio">Link to Portfolio </a>